@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

#left{
    margin-top: 15px;
    margin-left: 33px;
}


button.login{
    background-color: #06a86c;
    font-size: 16px;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 30px;
}

button.forgotpass{
    background-color: white;
    border: none;
    padding: 14px;
    margin: 0;
    cursor: pointer;
    width: 100%;
    font-weight:600;
}

button.login:hover{
    background-color:#05905d;
}

button.forgotpass:hover{
    color:#04aa6d
}

input{
    width: 100%;
    padding: 18px;
    margin: 8px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.box{
    background-color: white;
    border: 1px solid rgba(204, 204, 204, 0.505);
    border-radius: 15px;
    width: 29%;
    align-items: center;
    margin-left: auto; margin-right: auto;
    margin-top: 33px;
    padding-left: 48px; padding-right: 48px;
    padding-top: 27px; padding-bottom: 35px;
}

div > *{
    margin-bottom: 33px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-size: 26px;
    font-weight: 700;
}

label{
    font-size: 14px;
}



div.footer{
    color: grey;
    font-size: 12px;
    text-align:center;
    margin-top: 90px;
}

div > a{
    color: grey;
}
div >a:hover{
    color: #04aa6d;
}

/* button.psw{
    margin-bottom: 10px;
    float: right;
    background-color: #06a86c;
    font-size: 16px;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 8%;
    border-radius: 30px;
} */